*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    height: 100vh;
    display: grid;
    grid-template: 
    'header-1'auto
    'header-2' auto
    'section1'auto
    'section2'auto
    'section3'auto
    'section4'auto
    'footer' auto /
    auto
}
.header-1{
    display: grid;
    grid-area: header-1;
    background: -webkit-linear-gradient(left, #bd5cbd, #909eca);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background-color: rgb(242, 232, 232); */
}
.brand-name {
    justify-content: center;
    text-align: center;
    font-size: 50px;
    /* color:darkslateblue; */
}

.header-2{
    display: grid;
    grid-area: header-2;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr auto;
    
}
.header-2-left-menu{
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
   
}
 .e-store-icon{
    width: 150px;
    align-items: start;
    
    
}

.header-2-right-menu{
    display: grid;
    grid-auto-flow: column;
    gap: 0.5 rem;
} 

 .nav-bar{
    grid-area: nav-bar;
    font-size: 17px;
}


.nav-bar-lists{
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    margin-right: 15px;
    text-align: end;
    
    
}
a{
    text-decoration: none;
    color: rgb(141, 95, 95);
}
button.shop-now{
    background-color:rgb(243, 233, 233);

    
}
.shop-now{
    font-size: 14px;
    color: rgb(187, 131, 131);
    border: 1px solid rgb(231, 213, 213);
    padding: 0.3rem;
    border-radius:10px;
    transition: background 0.5s;
    
}
.shop-now:hover{
    background: #a5484e;

}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.main{
    display: grid;
    grid-template-columns:1fr;
}
.top-section-1-wrapper{
    background-image: url(https://brand.assets.adidas.com/image/upload/f_auto,fl_lossy,q_1/if_w_gt_1920,w_1920/enUS/Images/x-cat-ss22_summer-shop_refresh1-mw-large-mh-d_tcm221-897457.jpg);
    background-size: 100%;
    /* background-position:; */
    height: 550px;
    background-repeat: no-repeat;
    padding: 1rem;


    display: grid;
    align-content: start;
    gap: 0.5rem;

}
.top-section-1{
    align-items: center;
}
.top-section-1 .tittle{
font-size: 2rem;
color: white;
padding-top: 50px;
justify-content: center;
}
.top-section-1 .subtittle{
    color: white;
    padding-top: 20px;
    justify-content: center;

}
.text-section{
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
    padding-top: 30px;
    padding-bottom:50px;
    background-color: white;
    justify-content: center;
}
.text-section-popular h2{
    /* justify-content: center; */
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .025em;
    line-height: .8;
    background: -webkit-linear-gradient(left, #b28fb2, #4169e1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.popular-border  {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    font-weight: 100px;
    

}
.popular-border a{
    border: 1px solid rgb(158, 142, 142);
    color: black;
    padding: 11px 10px 9px 8px;
    
}
.popular-border a:hover{
    border: 1px solid black;
}



 .product-grid-section{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
     grid-auto-rows: 300px; 
     gap: 0.5rem;
    /* padding: 0.5rem; */
}
.product-item{
    
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 1rem 20%;
    position: relative;
}

.product-grid-section-photo{
 
   background: url(https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive/e113aca3d0f24e159cf3ad790091b9fb_9366/adilette-lite-slides.jpg);
   background-size: cover;
   background-position:center bottom;
   background-repeat: no-repeat;
   
} 
.product-item-link{
    font-size: 1.2rem;
    text-decoration: underline;
    color: black;
    align-content:center ;
}
.product-grid-section-photo-2{
      background: url(https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive/f1809560b5374057a9abad2300839d39_9366/adidas-designed-2-move-3-stripes-primeblue-shorts.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center bottom;
      
    }  
    .product-grid-section-photo-3{
        background: url(https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive/78b2d223cc6b4065ae87ac0900a18e4c_9366/superlite-no-show-socks-6-pairs.jpg);
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
        /* padding-bottom: 10px; */
        
    }
    .product-grid-section-photo-4{
    
    background: url(https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive/3c2e486a9e9e46f584eaae1400407853_9366/ultraboost-22-shoes.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}
.product-grid-section-photo:hover{
    transform: scale(1.10);
}
.product-grid-section-photo-2:hover{
    transform: scale(1.10);
}
.product-grid-section-photo-3:hover{
    transform: scale(1.10);
}
.product-grid-section-photo-4:hover{
    transform: scale(1.10);
}
@media screen and (max-width:720px) {
     .product-grid-section {
    grid-template-columns: 1fr;
}
}


.join-us-text-section{
    display: grid;
    grid-auto-flow: column;
    background-color:rgb(195, 208, 169);
    align-items: center;
    justify-content: center;
    height: 150px;
}
.join-us-text-section-p{
    padding-top: 30px;
    padding-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}

button {
    background-color: black;
    color: white;
    padding: 15px;
    padding-right: 20px;
    align-content: center;
    border-radius: 10px;
    font-size: 14px;
    justify-content: center;
    
}
.sign-up-button{
    padding-top:23px;
    text-align: center;
     justify-content: center; 
     font-size: 18px; 
 
    
}    
.footer{
    grid-auto-flow:column;
    display: grid;
    padding:1rem;
    gap: 2rem;
    justify-content: center;
    margin: 20px 15px 30px;
    background-color: #fff;

}
.footer h4{
    font-family: sans-serif;
}
.footer-column a{
    color: black;
    padding-top: 10px;
    

    
}


.footer ul{
    list-style: none;
    padding-top: 10px;


}
footer ul li{
    padding: 3px;
}
 
    
